.footer {
  background-color: var(--footer-background);
  color: var(--adress-color);
  padding-bottom: 60px;
  padding-top: 60px;
  .logo {
    margin-bottom: 20px;
  }
  .social-link {
    color: var(--white-color);
  }
}

.footer-contacts {
  background-color: rgba(66, 102, 155, 0.829);
}

.address {
  font-style: inherit;
}

.logo--footer {
  color: var(--white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-link {
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
  &[target='blank'] {
    color: var(--white-color);
  }
}

.footer-action_title {
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-container {
  @media screen and (min-width: 768px) {
    --card-item: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    --card-item: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer-block {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.block__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
