.mob-menu {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  transform: translate(0);
  transition: transform var(--transition);
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include tab {
    display: none;
  }
}

.mob-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.mob-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu.is-hidden {
  transform: translate(100%);
}

.mob-menu__social {
  display: flex;
  flex-direction: row;
}

.mob-menu__contacts {
  display: flex;
  flex-direction: column;
}

.mob-menu__email {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: #2196f3;
}

.mob-menu__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: #757575;
}

.mob-menu__social-item:not(:last-child) {
  margin-right: 20px;
}
