.footer-form {
  display: flex;
  align-items: center;
}

.footer-input_form {
  background-color: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  border-color: var(--input-footer-color);
  color: var(--input-footer-color);
  transition: border-color var(--transition);
  &:hover,
  &:focus {
    border-color: var(--white-color);
  }
}
